$input-btn-padding-y: .5625rem !default;
$input-btn-padding-x: 1.25rem !default;
$input-padding-x:  0.75rem !default;

$input-disabled-bg:                     map-get($theme-colors, "grey-2") !default;
$input-disabled-border-color:           map-get($theme-colors, "grey-2") !default;

.input-padding-custom {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

$form-label-font-size: 1.125rem !default;
$form-label-font-weight:  bold !default;

$input-border-width: 0 !default;

// Checkbox
$form-check-input-width: 1.5em !default;
$form-check-input-border: 2px solid  map-get($theme-colors, "grey-7") !default;
$form-check-input-border-radius: 0 !default;

// Icon button
.btn-icon-primary {
    background-color: transparent;
    padding: 3px;
    border-radius: 0%;
    text-align: center;
    border: none;
    color: map-get($theme-colors, "primary");
    cursor: pointer; /* Mouse pointer on hover */
    outline: none;
    &:hover {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
    };
    &:focus {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
      outline: none;
    };
    &:active {
      background-color: rgba(map-get($theme-colors, "primary"), .2);
      outline: none;
    };
}

.eq5d-scale:focus-within {
  border: 2px solid rgba(map-get($theme-colors, "primary"), .2);
}
