
.navlink-container {
  display: flex;
  align-items: center;
  max-height: 44px;
  overflow: hidden;
}

.nav-link-height {
  height: 44px;
}

.nav-link:hover:not(.active)
{
  background-color: darken(map-get($theme-colors, "primary"), 10%) !important;
  text-decoration: underline;
}

.nav-link.active
{
  background-color: map-get($theme-colors, "secondary") !important;
  text-decoration: underline;
  &:hover {
    background-color: darken(map-get($theme-colors, "secondary"), 5%) !important;
  }
}


$navbar-text-font-size: 1.125rem !default;
$navbar-text-padding-top: 10px !default;
$nav-link-color: white !default;
$nav-link-font-size: 1.125rem !default;
$nav-link-hover-color: white !default;
$nav-tabs-border-width: 0px !default;
$navbar-toggler-border-radius: 0px !default;
$nav-tabs-link-active-bg: map-get($theme-colors, "secondary") !default;

