@use "sass:math";

$spacer: 1.875rem !default;
$spacers: (
  0: 0,
  0a: calc($spacer / 6),
  1: math.div($spacer, 4),
  1a: math.div($spacer, 3),
  2: math.div($spacer, 2),
  2a: math.div($spacer, 1.5), // 20px
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$enable-negative-margins: true;
