.cursor-pointer {
  cursor: pointer;
}

.min-vh-25 {
  min-height: 25vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-60 {
  min-height: 60vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vw-25 {
  min-height: 25vw;
}

.min-vw-50 {
  min-height: 50vw;
}

.min-vw-60 {
  min-height: 50vw;
}

.min-vw-75 {
  min-height: 75vw;
}
