.footerLink {
    &:hover .text {
        text-decoration: underline;
    }
    &:focus .text {
        text-decoration: underline;
    }
}

.footerLinkOpacity {
    &:hover {
        opacity: 0.95;
    }
}