@import './helpers/colors.scss';
@import './helpers/spacing.scss';
@import './helpers/forms.scss';
@import './helpers/custom_range.scss';
@import './helpers/navbar.scss';
@import './helpers/borders.scss';
@import './helpers//typography.scss';
@import './helpers/utilities.scss';
@import './helpers/date_input.scss';

@include datepicker_classes($theme-colors);

// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;

.captcha-badge-alt {
  color: map-get($theme-colors, "grey-7");
  & a {
    color: #000;
  }
}

.grecaptcha-badge { visibility: hidden; }

@import './iconfonts';

@import '~bootstrap/scss/bootstrap.scss';
